[submodule "thirdparty/TouchMatrix_Analyzer"]
	path = thirdparty/TouchMatrix_Analyzer
	url = git@github.com:3ccd/TouchMatrix_Analyzer.git
[submodule "thirdparty/TUIO11_CPP"]
	path = thirdparty/TUIO11_CPP
	url = git@github.com:mkalten/TUIO11_CPP.git
[submodule "thirdparty/rpi-rgb-led-matrix"]
	path = thirdparty/rpi-rgb-led-matrix
	url = git@github.com:hzeller/rpi-rgb-led-matrix.git
[submodule "submod-repo"]
	ignore = dirty
[submodule "thirdparty/oscpack"]
	path = thirdparty/oscpack
	url = git@github.com:RossBencina/oscpack.git
