[submodule "thirdparty/Adafruit_ADS1X15_RasPi"]
	path = thirdparty/Adafruit_ADS1X15_RasPi
	url = https://github.com/nkue-yst/Adafruit_ADS1X15_RasPi.git
[submodule "thirdparty/TUIO20_CPP"]
	path = thirdparty/TUIO20_CPP
	url = git@github.com:nkue-yst/TUIO20_CPP.git
[submodule "thirdparty/TouchMatrix_Analyzer"]
	path = thirdparty/TouchMatrix_Analyzer
	url = git@github.com:3ccd/TouchMatrix_Analyzer.git
[submodule "thirdparty/TUIO11_CPP"]
	path = thirdparty/TUIO11_CPP
	url = git@github.com:mkalten/TUIO11_CPP.git
[submodule "thirdparty/rpi-rgb-led-matrix"]
	path = thirdparty/rpi-rgb-led-matrix
	url = git@github.com:hzeller/rpi-rgb-led-matrix.git
